extend layout

block content
  p
    | test data test data
    | test data test data
    | test data test data
    
  p
    | test data test data
    | test data test data
    | test data test data
    | test data test data
    | test data test data
    | test data test data

block sidebar
  .widget
    h1 Widget
    p
      | test data test data
      | test data test data
    
    p
      | test data test data
      | test data test data

